<% if (page.total > 1){ %>
<nav class="pagination" role="navigation">
    <div id="page-nav">
        <%- paginator({
                prev_text: '上一页',
                next_text: "下一页"
            }) %>
    </div>
</nav>
<% } %>
